<div>
	<h1>list partial</h1>
	<div>
    <h2>Bills</h2>
    <table class="u-full-width">
    	<thead>
    		<tr>
    			<th> Name </th>
    			<th> Price </th>
    			<th> Date </th>
    			<th> Category </th>
    			<th> Description </th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="bill in bills">
    			<td> {{ bill.name }} </td>
    			<td> {{ bill.price }} </td>
    			<td> {{ bill.date }} </td>
    			<td> {{ bill.category }} </td>
    			<td> {{ bill.description }} </td>
    			<td> <button ng-click='editBill()' class='button-warning'> Edit </button></td>
    			<td> <button ng-click='deleteBill(bill.id)' class='button-danger'> Delete </button></td>
    		</tr>
    	</tbody>
    </table>

</div>
</div>